@media (min-width: 768px) {
  .container {
    max-width: 500px;
  }
}

body {
  font-size: 18px;
}
i {
  font-size: 24px;
  cursor: pointer;
}

#session-controls, #player-controls {
  
}

#player-controls {
  max-width: 325px;
  margin-left: auto;
  margin-right: auto;
  i {
    font-size: 42px;
  }
}