#session-and-break-controls {
  max-width: 325px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-size: 18px;
  background: #E95547;
  color: #fff;
}
i {
  font-size: 30px;
  cursor: pointer;
}


#player-controls {
  max-width: 325px;
  margin-left: auto;
  margin-right: auto;
  i {
    font-size: 42px;
  }
}

#session-time-holder, #break-time-holder {
  font-weight: 700;
}

@media (min-width: 768px) {
  .container {
    max-width: 500px;
  }

  #session-and-break-controls {
    max-width: unset;
    margin-left: unset;
    margin-right: unset;
  }
}